<!DOCTYPE html>
<!--для работы python-->
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
<script src="{{ url_for('static', filename= 'sc.js') }}"></script>
<!--для отладки в браузере-->
<link rel="stylesheet" href="../static/styles.css">
<script src="../static/sc.js"></script>


<html>
<title>Task Manager</title>
<body>
<header>
    <div>
        
    </div>
</header>



<div id="footer">
    <div style="height: 100%;">
        <button type="button" onClick="onClick()">жамк</button>
        <p>кликнули: <a id="clicks">0</a></p>
        <br><br><br><br>
      





        

    </div>
    <div align="right">
    ©️ created by Kyoesu
    </div>    
</div>





</body>
</html>