<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <!--для работы python-->
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
    <!--<link rel="icon" href="{{ url_for('static', filename= 'fav.ico') }}">-->
    <link rel="icon" href="{{ url_for('static', filename= 'logo.svg') }}">
    <!--для отладки в браузере-->
    <link rel="stylesheet" href="../static/styles.css">
         
</head>

<body>
<header>
    <div>
        <br>
    </div>
    <div id="men">
        <img src="{{ url_for('static', filename= 'logo.svg') }}" height="100%" width="100vh" alt="logo"> 
        <div><h4>This project</h4></div>
        <div><h4>My projects</h4></div>
        <div><h4>About Me</h4></div>
        <div><h4>Something else</h4></div>
        <div><h4>Contacts</h4></div> 
        <div id="login">login</div>
    </div>
</header>

<div class="parent">
<div class="content">
    
    
            <br><br>
    <div style="height: 200vh;width: 100%; background-color: #00008b30;">
        <br><br>
        <button type="button" onClick="onClick()">жамк</button>
            <p>кликнули: <a id="clicks">0</a></p>
        <!--<div style="min-width: 1000px;"></div>потом удалить, тестовый-->
        
    </div>
</div>
</div>


<footer>
    <div style="height: 100%;">
        <div id="descript">
            
            <div class="foot_table"><h3>This project</h3><p>Task Manager is a web-based application that allows users to create, edit and track their tasks. Users can create accounts, log in and manage their tasks. The application should provide a user-friendly and intuitive interface for working with tasks.</p></div>
            <div class="foot_table"><h3>My projects</h3><p>Task Manager</p><p>Quiz bot</p></div>
            <div class="foot_table"><h3>About Me</h3><p></p></div>
            <div class="foot_table"><h3>Something else</h3><p></p></div>
            <div class="foot_table"><h3>Contacts</h3><p></p></div>
        </div>
        
    </div>


    <div id="dow">
        <div >
            <p>Sorry, I can do a lot, but I don't know what exactly... if you want to help me.. </p>
            <p>Contact with me</p>
        </div>
        <p>©️ created by Kyoesu </p>
    </div>    
</footer>



<script src="{{ url_for('static', filename= 'sc.js') }}"></script>
<script src="../static/sc.js"></script>
</body>
</html>



