<title>Task Manager</title>
    <!--для работы python-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
    <script src="{{ url_for('static', filename= 'sc.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename= 'logo.svg') }}">
    
<body>
    <div>
        <br>
        <h1>ffffffffff
        </h1>
        <p style="color: black;">gfgfgfgfgfgfg</p>
    </div>
    <link rel="import" href="{{ url_for('static', filename= 'index.html') }}" >

</body>