

body{
    margin: auto;
    margin-top: -21px;
    background: linear-gradient(90deg, #64FFF6 0%, #9F3DEC 20%, #8021F9 50%, #A540F4 80%, #64FFF6 100%);
}
header{
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom left,#050b7c,#3d0101);
}
#men{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100px;
    justify-content: space-around; 
    align-items: center; 
    height: 10vh;
    color:#ffffff;
}
footer{
    width: 90%;
    height: 500px;
    background: linear-gradient(to bottom left,#050b7c,#3d0101);
    color: rgb(232, 217, 217);
    padding: 5%;
}

#descript{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    justify-content: space-around; 
}
.foot_table{
    display: flex;
    flex-direction: column;
    /*width: 21%;*/
}

#dow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}